<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="Province" value=""/>
    <add key="City" value=""/>
    <add key="District" value=""/>
    <add key="UserName" value="" />
    <add key="PassWord" value="" />
    <add key="chkSavePass" value="False" />
    <add key="SendName" value="" />
    <add key="Account" value="" />
    <add key="LinkMan" value="" />
    <add key="Tel" value=""/>
    <add key="Rembmber" value="False"/>
    <add key="PageSizeA" value=""/>
    <add key="PageSizeB" value=""/>
  </appSettings>
</configuration>